{% extends 'layouts/public_base.html' %}
{% load static %}
{% block description %}
  {{ class.short_desc }}{% endblock %}

{% block keywords %}
  Learn by doing
{% endblock %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
  <section class="album py-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-5">
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
               role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
               focusable="false">
            <title>{{ class.title }}</title>
            <rect width="100%" height="100%" fill="#55595c"/>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Image placeholder</text>
          </svg>

          <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
            <p class="card-text">{{ object.desc }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}