{% extends 'layouts/public_base.html' %}
{% load static %}
{% block description %}
  {{ class.short_desc }}{% endblock %}

{% block keywords %}
  Learn by doing
{% endblock %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
  <section class="album py-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-5">
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{ object.thumbnail.url }}">

          <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
            <p class="card-text">{{ object.desc }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}