{% extends 'layouts/public_base.html' %}

{% block description %}
  Create a new course
{% endblock %}

{% block keywords %}
  Add course, Create Course
{% endblock %}

{% block title %}
  Create Course
{% endblock %}

{% block content %}
  <section class="mt-4">
    <div class="row">
      <div class="col-12">
        <form action="{% url 'course:create_course' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% include 'pages/course/form.html' %}
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>

  </section>
{% endblock %}