{% extends 'layouts/public_base.html' %}

{% block description %}
  Have questions? Contact Us and we will reply in 48 hours
{% endblock %}

{% block keywords %}
  Support, Contact Us, Get Help
{% endblock %}

{% block title %}
  Contact Us
{% endblock %}

{% block content %}
  <section class="mt-4 text-center">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Contact us for any queries using the form below</h1>

        <form action="{% url 'main:contact_us' %}" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </section>
{% endblock %}