{% extends "layouts/public_base.html" %}

{% block description %}
  Course Details
{% endblock %}

{% block keywords %}

{% endblock %}

{% block title %}
  Course Details
{% endblock %}

{% block page-header %}
  {{ course }}
{% endblock %}

{% block content %}
  <div class="row py-5">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <video controls width="100%">
        <source src="{{ course.video_url }}" type="video/mp4">
      </video>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Course Details</h3>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-striped">
                  <tbody>
                  <tr>
                    <td>
                      Number of Classes:
                    </td>
                    <td>
                      {{ course.classes.count }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Course Cost:
                    </td>
                    <td>
                      {{ course.price }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Subscription Duration:
                    </td>
                    <td>
                      Lifetime
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" class="text-center">
                      {% if is_subscribed %}
                        <div class="row">
                          <div class="col-xs-12">
                            <span class="label label-info">Active Subscription</span>
                          </div>
                        </div>
                      {% else %}
                        <form
                            action="{% url 'main:subscribe' course.slug %}"
                            method="POST">
                          {% csrf_token %}
                          <div class="form-group">
                            <input class="form-control btn btn-primary" type="submit"
                                   value="Subscribe">
                          </div>
                        </form>
                      {% endif %}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3> List of Classes</h3>
      {% if course.classes.count %}
        <table class="table table-bordered table-condensed table-striped">
          <thead>
          <tr>
            <th class="text-center visible-sm visible-md visible-lg">
              Index
            </th>
            <th class="text-center">
              Title
            </th>
            <th class="text-center">
              Details
            </th>
          </tr>
          </thead>
          <tbody>
          {% for class in course.classes.all %}
            <tr>
              <td class="text-center col-ms-1 visible-sm visible-md visible-lg">
                {{ forloop.counter }}
              </td>
              <td class="col-xs-2 col-sm-3">
                <div>
                  {% if is_subscribed or class.is_free or is_author %}
                    <a href="{% url 'main:class' class.slug %}">{{ class }}</a>
                  {% else %}
                    {{ class }}
                  {% endif %}
                  {% if not is_subscribed and not is_author and class.is_free %}
                    <span class="label label-info pull-right">Free</span>
                  {% endif %}
                </div>
              </td>
              <td class="text-justify col-xs-10 col-sm-7">
                {{ class.short_desc }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h4> Sorry, there are no classes in the course yet</h4>
      {% endif %}
    </div>
  </div>
{% endblock %}